[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/Vundle.vim"]
	path = bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
